%body
  %h1
    IP Camera Information
  %p
    %a{:href => "/"} Dashboard

  %div{:class => "venues"}
    %h2 Venues

    -if venues.any?
      %table.venue_listing
        %thead
          %tr
            %th Venue Name
            %th Last Synced
        %tbody
          - venues.each do |venue|
            %tr
              %td= venue[0]
              %td= venue[2]
    -else
      = "Sorry no venues present at this time."